{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="main">
    <h1>Notre Histoire</h1>
    <p>Au début des années 90, le secteur « Enseignement des soins infirmiers » au sein des structures européennes était
        uniquement représenté par le « Comité Consultatif pour la formation en soins infirmiers ».</p>
    <p>Pour répondre aux besoins en matière de politique de santé et favoriser le partage de pratiques tant dans
        l’enseignement que dans la recherche, un groupe d’enseignants a créé une première association et invité ses
        collègues à initier ce mouvement au sein de la communauté européenne.</p>
    <p>C’est ainsi qu’ont vu le jour des associations nationales et internationales d’enseignants en Soins Infirmiers.
    </p>
    <p>En 1994, la Belgique a vu naître l’association FINE Belgique devenue actuellement FINE Bel-Lux qui représente à
        la fois les communautés française et germanophone et, depuis 2000, le Grand-Duché de Luxembourg.</p>
    <p>En 1995, FINE Europe a vu le jour sous la forme d’une « plate-forme » européenne d’échanges concernant la
        formation en soins infirmiers. Au départ, les pays impliqués étaient les Pays-Bas, la Grande-Bretagne et la
        Belgique néerlandophone. Un peu plus tard, la Belgique francophone et d’autres pays ont rejoint l’association.
    </p>
    <p>La consultation du site de FINE-Europe (Federation International Nurse Educator) permet de constater l’ampleur de
        son développement et des actions entreprises.</p>
    <p>Les objectifs de l’association FINE Bel-Lux – membre de FINE-Europe – s’inscrivent dans la philosophie de ceux de
        l’association européenne :</p>
    <ul>
        <li>Rassembler des enseignants en soins infirmiers des différents niveaux de formation et réseaux d’enseignement
            dans le respect des diversités culturelles et historiques ;
        </li>
        <li>Initier des projets communs au sein des différentes écoles ;
        </li>
        <li>Créer des groupes de travail selon les intérêts des enseignants et inciter à des partages d’expériences
            pédagogiques ;
        </li>
        <li>Encourager l’application des nouvelles stratégies pédagogiques ;
        </li>
        <li>Favoriser l’ouverture européenne ;
        </li>
        <li>Influencer la politique de la formation en soins infirmiers aux niveaux national et européen ;
        </li>
        <li>Elaborer une base de données de tout enseignant intéressé par l’enseignement des soins infirmiers et
            obstétricaux en lien avec leurs centres d’intérêts, leurs expériences pédagogiques.
        </li>
    </ul>
</div>
{% endblock content %}