{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">  <!-- Changer de maniere interactive -->
    <h1 class="display-4">Workshop FINE BEL LUX - FINE Europe</h1>
    <p class="lead">Grand Duché du Luxembourg – 5 & 6 décembre 2024</p>
    <button class="btn btn-primary ml-2">Inscritption</button>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img src="{% static 'logo_rond.png' %}" class="card-img-top" alt="Workshop 1">
            <div class="card-body">
                <h5 class="card-title">Workshop 1: Élaboration et réalisation de visuels graphiques</h5>
                <p class="card-text">Découvrez comment créer des visuels professionnels avec des outils de design et de création visuelle.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="{% static 'logo_rond.png' %}" class="card-img-top"
            alt="Workshop 2">
            <div class="card-body">
                <h5 class="card-title">Workshop 2: Création de contenu multimédia pour le web</h5>
                <p class="card-text">Découvrez comment utiliser des outils de création multimédia pour améliorer votre contenu Web.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div> 
        </div>
    </div>
</div>           
{% endblock content %}