{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="main">
    <h1>Nos Objectifs</h1>
    <h5 style="color: #828282;">FINE BEL-LUX poursuit différents objectifs :</h5>
    <ul>
        <li>Promouvoir le développement permanent de la qualité de la formation en soins infirmiers en Belgique et
            en
            Europe ;
        </li>
        <li>Rassembler des enseignants en soins infirmiers des différents niveaux de formation et réseaux
            d’enseignement
            dans le respect des diversités culturelles et historiques ;
        </li>
        <li>Créer une dynamique entre écoles d’infirmières tant au niveau national qu’international ;
        </li>
        <li>Créer des groupes de travail selon les intérêts des enseignants et inciter à des partages d’expériences
            pédagogiques ;
        </li>
        <li>Encourager l’application des nouvelles stratégies pédagogiques ;
        </li>
        <li>Favoriser l’ouverture européenne ;
        </li>
        <li>Influencer la politique de la formation en soins infirmiers aux niveaux national et européen ;
        </li>
    </ul>
</div>
{% endblock content %}