.navbar-brand img {
  height: 75px;
}

.navbar-nav .nav-item .nav-link {
  color: black;
  margin-right: 15px;
}

 .nav-link.active {
  color: #0056b3 !important;
  font-weight: bold;
}

.btn-primary {
  background-color: #0056b3;
  color: white !important;
  border: none;
}

.ml-2 {
  margin-left: 15px;
  color: black;
}